* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.aiChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading > p {
  overflow: hidden;
  font-size: 5rem;
  font-weight: bold;
  color: #feda4a;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-grow: 1;
  justify-content: space-around;
  align-items: end;
  background-color: black;
}

#rock {
  max-width: 30%;
  height: auto;
  visibility: hidden;
  animation: fadeInImages ease-in-out 8s;
}

#paper {
  /* width: 190px;
  height: 288px; */
  max-width: 18%;
  height: auto;
  visibility: hidden;
  animation: fadeInImages ease-in-out 10s;
}

#scissors {
  /* width: 383px;
  height: 302px; */
  max-width: 35%;
  height: auto;
  visibility: hidden;
  animation: fadeInImages ease-in-out 10s;
}

/* #results {
  display: flex;
  flex-direction: column;
  border: 3px solid limegreen;
  height: 100vh;
} */

.star-wars {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: black;
  perspective: 400px;
  color: #feda4a;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-size: 500%; /*full desktop*/
  /*font-size: 200%; mobile size*/
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

.crawl {
  max-width: 100%;
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
  animation-duration: 90s;
}

#playNow {
  display: none;
  background-color: #feda4a;
  border: #feda4a;
  border-radius: 10px;
  width: 193px;
  height: 74px;
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  left: 0;
  right: 10px;
  top: 10px;
  bottom: 0;
  margin: auto;
  animation: fadeInButton ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (max-width: 576px) {
  .star-wars {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: black;
    perspective: 400px;
    color: #feda4a;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    /* font-size: 500%; full desktop */
    font-size: 200%; /*mobile size*/
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 150%;
    text-align: justify;
  }

  .crawl {
    max-width: 100%;
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
    animation-duration: 150s;
  }

  .heading > p {
    font-size: 250%;
  }
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;

    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes fadeInButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInImages {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
